<ul>
    {% if movies %}
        {% for title, details in movies.items() %}
            <li class="fade-in">
                <span class="movie-title">{{ title }}:</span> 
                {% for time in details.times %}
                    {% if time.is_past %}
                        <span class="time-past">{{ time.time }}</span>
                    {% else %}
                        <span>{{ time.time }}</span>
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    {% else %}
        <li>nothing here yet...</li>
    {% endif %}
</ul>